.hamburger {
    display: none;
    position: fixed;
    top: 27px;
    left: 14px;
    transform: translateX(50%);
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    z-index: 100;
    span {
        position: relative;
        display: block;
        width: 40px;
        height: 3px;
        background-color: $main-color;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, .3);
        transition: .3s ease-in-out all;
        opacity: 1;
        border-radius: 3px;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            background-color: $main-color;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            transition: .3s ease-in-out all;
            opacity: 1;
        }
    }
    &.active {
        span {
            z-index: 100;
            box-shadow: none;
            &:before {
                opacity: 0;
                transition: .3s ease-in-out all;
            }
        }
        span:nth-child(1) {
            transform: rotate(45deg) translate(5px, 10px);
            transition: .3s ease-in-out all;
        }
        span:nth-child(2) {
            opacity: 0;
            transition: .3s ease-in-out all;
        }
        span:nth-child(3) {
            transition: .3s ease-in-out all;
            transform: rotate(-45deg) translate(4px, -9px);
        }
    }
}

.hidden-menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease all;
    &.active {
        top: 0;
        visibility: visible;
        opacity: 1;
        transition: .4s ease all;
    }
    &__block {
        padding: 100px;
        position: relative;
        height: 100%;
        z-index: 1;
        background: rgb(34, 34, 34);
        box-shadow: 6px 0px 10px 1px rgba(0, 0, 0, .8);
    }
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li {
            margin-bottom: 25px;
            font-size: 26px;
        }
    }
    &__link {
        color: #fff;
    }
}