.title {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    color: #000000;
    text-align: center;
}

.subtitle {
    margin: 20px 0 60px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: $second-color;
    text-align: center;
}